[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/J0sueTM/glfw.git
[submodule "vendor/openal_soft"]
	path = vendor/openal_soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/freealut"]
	path = vendor/freealut
	url = https://github.com/J0sueTM/freealut.git
